::ng-deep .ngx-charts-tooltip-content {
	background-color: #04838f !important;
}

::ng-deep ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip .tooltip-caret.position-top {
	border-top-color: #04838f !important;
}
::ng-deep ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip .tooltip-caret.position-right {
	border-right-color: #04838f !important;
}
